.newsColumnContainer{

  display: grid;
  grid-template-columns: 25% 50% 25%;
  gap: 10px; /* Optional: to add space between columns */
  padding: 10px; /* Optional: to add padding around the container */
  justify-content: center;
}

.newsContainer {
  max-width: 1280px;
  margin: 0 auto;
}

.column {
  height: 550px;
}

.divider {
  border-top: 1px solid #808080;
  margin: 20px 0;
}